{% set vars = pages.index %}
{% set body_class = "home" %}
{% extends "_layout.njk" %}

{% block content %}
<div class="stage">
	<div class="container justify-content-center text-dark">
		<h1 class="display-4">The most important header of the site!</h1>
  		<p class="lead">With some lead to exxlain things.</p>
  		
	</div>
</div>

<div class="special-features customFadeInUp" data-scroll="">
    <section class="container">
      <div class="row">
        <div class="col-12">
          <div class="header">
            <h2>Second header to dive in deeper.</h2>
            <p>
              and some description
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <!--<img src="images/icons/spacial-devices.png">-->
            <h3>
              Feature title 1
            </h3>
            <p>
              Feature description 1
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <!--<img src="images/icons/spacial-download.png">-->
            <h3>
              Feature title 2
            </h3>
            <p>
              Feature description 2
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="feature">
            <!--<img src="images/icons/spacial-location.png">-->
            <h3>
              Feature title 3

              <span class="badge-new">New</span>
            </h3>
            <p>
              Feature description 3
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="feature">
            <!--<img src="images/icons/spacial-settings.png">-->
            <h3>
              Feature title 4
            </h3>
            <p>
              Feature description 4
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %} 