.home div.stage {
	background: url(../images/ferran-fusalba-rosello-1133345-unsplash.jpg);
	background-size: cover;
	background-position: center 0;
	min-height: 100vh;
	padding-top: 220px;
	overflow: hidden;
	position: relative;
}